# Ignore Python cache and environment
__pycache__/
*.pyc
venv/

# Ignore SQLite database
db.sqlite3

# Ignore Django static files
static/

# Ignore migrations if you want to generate fresh
*/migrations/
